.title {
  font-family: $acrom;
  font-size: rem(14);
  font-weight: 900;
  color: $black;
  text-transform: uppercase;

  &--white {
    color: $white;
    background-color: $black;
  }
}

@media (min-width: 480px) {
  .title {
    font-size: rem(18);
  }
}

@media (min-width: 768px) {
  .title {
    font-size: rem(26.92);
  }
}

@media (min-width: 960px) {
  .title {
    font-size: rem(33.65);
  }
}

@media (min-width: 1200px) {
  .title {
    font-size: rem(30);
  }
}

@media (min-width: 1440px) {
  .title {
    font-size: rem(36);
  }
}
